:root {
  --green-dark: #1c3334;
  --green-light: #376e6f;
  --grey-light: #2f4454;
  --pink-dark: #2e151b;
  --pink-light: #da7b93;
}

html {
  height: 100%;
}

body {
  background-color: var(--grey-light);
  height: 100%;
}

.field {
  border: none;
  background-color: var(--green-light);
  display: block;
  margin: 2px 5px 2px 5px;
  resize: none;
  outline: none;
  overflow: auto;
}

.frame {
  box-shadow: 5px 10px 8px var(--green-dark);
  border: none;
  float: left;
  margin: auto;
}

.link {
  color: var(--pink-light);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--pink-light);
}

.main {
  padding: 2% 4% 2% 4%;
  height: 80%;
}

.proj {
  border-bottom: 1px var(--green-dark) solid;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

#comments {
  box-shadow: 5px 10px 8px var(--green-dark);
  float: right;
  height: 65%;
  margin-right: 2%;
  width: 20%;
}

#comment-box {
  box-shadow: 5px 10px 8px var(--green-dark);
  display: block;
  float: right;
  height: 30%;
  margin-right: 2%;
  width: 20%;
}

#content {
  color: var(--pink-light);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#round-head {
  border-radius: 120px;
  background: url(images/head1.jpg);
  background-position: right top;
  background-repeat: repeat;
  height: 200px;
  padding: 20px;
  width: 200px;
}

#submit-btn {
  background-color: var(--green-dark);
  border: none;
  color: var(--green-light);
  display: block;
  font-size: 12px;
  margin: auto;
  padding: 4px 15px;
}



