:root {
  --green-dark: #1c3334;
  --green-light: #376e6f;
  --grey-light: #2f4454;
  --pink-dark: #2e151b;
  --pink-light: #da7b93;
}

body {
  background-color: var(--grey-light)
}

#content {
  color: var(--pink-light);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main {
  margin: auto;
  padding: 5% 3% 5% 3%;
  width: 70%;
}

#round-head {
  border-radius: 120px;
  background: url(images/head1.jpg);
  background-position: right top;
  background-repeat: repeat;
  height: 200px;
  padding: 20px;
  width: 200px;
}

/* All styles for navbar */
#navbar {
  background-color: var(--green-dark);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nav-button {
  float: left;
}

.ext-link {
  float: right;
  height: 33px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 33px;
}

.current {
  background-color: var(--green-light);
}

.nav-button .nav-link {
  color: var(--pink-light);
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.nav-button .nav-link:hover {
  background-color: var(--green-light);
}

/* styles for project.html */
.proj {
  border-bottom: 1px var(--green-dark) solid;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

.link {
  color: var(--pink-light);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--pink-light);
}



