:root {
    --green-dark: #1c3334;
    --green-light: #376e6f;
    --grey-light: #2f4454;
    --pink-dark: #2e151b;
    --pink-light: #da7b93;
}

#content {
  color: var(--pink-light);
  background-color: var(--grey-light);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#greeting-container {
  margin-top: 20px;
}

/*All styles for navbar*/
#navbar{
  background-color: var(--green-dark);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nav-button {
  float: left;
}

.ext-link {
  float: right;
  height: 33px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 33px;
}

.current {
  background-color: var(--green-light);
}

.nav-button .nav-link {
  display: block;
  color: var(--pink-light);
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.nav-button .nav-link:hover {
  background-color: var(--green-light);
}


